body {
    font-size: 15px;
}

.mention {
    background-color: powderblue;
}

.div-candidates {
    display: none;
}

.div-review-text {
    height: 400px;
    overflow-y: scroll;
    margin-top: 5px;
    margin-bottom: 10px;
}

.div-candidate-row {
    background-color: lightblue;
    margin-bottom: 5px;
}

.div-biz-radio {
    float: right;
    width: 50px;
}

.div-biz-detail {
    margin-right: 50px;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
