{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'yelp/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'yelp/rev-style.css' %}" />
    <script src="{% static 'yelp/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'yelp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'yelp/js/review.js' %}"></script>
    <title>Review</title>
</head>
<body>

{% if username %}

<div class="navbar">
    <ul class="nav navbar-nav">
        <li><a> {{ username }} </a></li>
        <li class="active"><a href="/yelp/logout/">Log out</a></li>
    </ul>
</div>

<div class="container">

    {% include "yelp/businessdetail.html" with biz=reviewed_biz %}

<div class="div-review-text">
{{ highlighted_review |safe }}
</div>

<form id="form-main" action="{% url 'yelp:label' next_rev_idx %}" method="post">
    {% csrf_token %}

    <div class="row">
        <div class="pull-right">
            <a href="{% url 'yelp:review' prev_rev_idx %}">Prev</a>
            <a href="{% url 'yelp:review' next_rev_idx %}">Next</a>
            <input type="submit" value="Submit" />
        </div>
    </div>

<div class="candidates-main">
{% for mention, is_labeled, candidates in mention_candidates %}

    {% if forloop.counter == 1 %}
    <div class="div-candidates" id="span-mention-{{ mention.mention_id }}" style="display:block">
    {% else %}
    <div class="div-candidates" id="span-mention-{{ mention.mention_id }}">
    {% endif %}

    Mention #{{forloop.counter}}

    {% if is_labeled %}
        {% include "yelp/labelresult.html" with labelresult=candidates %}
    {% else %}

    <div class="row div-main-label" id="div-main-label-{{ mention.mention_id }}">
        <div class="col-sm-1">
            <label class="radio-inline" onclick="checkRadio('radio-{{ mention.mention_id }}-1')">
              <input type="radio" id="radio-link-{{ mention.mention_id }}" name="main-label-{{ mention.mention_id }}" value="link"> Link
            </label>
        </div>
        <div class="col-sm-1">
            <label class="radio-inline">
            <input type="radio" name="main-label-{{ mention.mention_id }}" value="nil"> NIL
            </label>
        </div>
        <div class="col-sm-2">
            <label class="radio-inline">
            <input type="radio" name="main-label-{{ mention.mention_id }}" value="nobiz" checked="checked"> Not Business
            </label>
        </div>
        <div class="col-sm-2">
            <label class="radio-inline">
            <input type="radio" name="main-label-{{ mention.mention_id }}" value="notsure"> Not Sure
            </label>
        </div>
    </div>


    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#gen-{{ mention.mention_id }}">Generated</a></li>
      <li><a data-toggle="tab" href="#search-{{ mention.mention_id }}">Search</a></li>
    </ul>

    <div class="tab-content candidates-tab">
        <div id="gen-{{ mention.mention_id }}" class="tab-pane fade in active">
            {% include "yelp/candidates.html" with mention_id=mention.mention_id candidate_type="gen" %}
        </div>
        <div id="search-{{ mention.mention_id }}" class="tab-pane fade">
            {% include "yelp/searchcandidates.html" %}
        </div>
    </div>

    {% endif %}

    </div>
{% endfor %}
</div>

</form>


{% else %}
Not logged in.
{% endif %}

</div>

</body>
</html>